# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
**/android/app/build/
**/android/build/
local.properties
GeneratedPluginRegistrant.java
.cxx/
captures/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Gradle
gradle-wrapper.jar
gradlew
gradlew.bat

# Keystore (NEVER PUSH)
key.properties
**/*.keystore
**/*.jks

# Logs & temp
*.log
*.tmp
*.lock
.DS_Store